.DS_Store
__pycache__/
*.pyc
.vscode/
.env
.env.*
!.env.example
project/.env
.venv/
venv/
*.log

qdrant_db/
markdown_docs/
parent_store/
outbox/
docs/

notebooks/output.csv

ragas_*.csv
rag_evaluation_*.csv
rag_evaluation_*.png
notebooks/ragas_*.csv
notebooks/rag_evaluation_*.csv
notebooks/rag_evaluation_*.png